body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("heart-bg.jpg");
    /* background-color: #f9e3e3; */
    font-family: "Pixelify Sans", sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #000000;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
